<div *ngIf="french">
  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Menu à 30€</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <p>Carpaccio de saumon d'Écosse au gimgembre</p>
    <p class="align-self-center">ou</p>
    <p>Galette de crabes à la vinaigrette de pamplemousse</p>
    <p class="align-self-center">ou</p>
    <p>Salade de gésiers de canard confits</p>
    <hr style="width:20%">
    <p>Entrecôte poêlée</p>
    <p class="align-self-center">ou</p>
    <p>Joue de bœuf braisée aux carottes glacée</p>
    <p class="align-self-center">ou</p>
    <p>Poisson du jour</p>
  </div>


  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Menu à 50€</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <p>Carpaccio du jour</p>
    <hr style="width:20%">
    <p>Croustillant de langoustines et son coulis</p>
    <p>Filet de canette rôti sauce au vin</p>
    <hr style="width:20%">
    <p>Dessert maison</p>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Entrée</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>Galette de crabes à la vinaigrette de pamplemousse</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Carpaccio de saumon d'Ecosse au gimgembre</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Carpaccio de bar sauvage façon Japonaise</p>
      <p class="align-self-end">17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Terrine de fois gras fait maison</p>
      <p class="align-self-end">15€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Salade verte</p>
      <p class="align-self-end">10€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Escalope de fois gras chaud au cognac de Hennessy</p>
      <p class="align-self-end">17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Salade de gésiers au canard confit</p>
      <p class="align-self-end">12€</p>
    </div>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Poissons</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>Filet de turbot sauvage meunière au jus de volaille accompagné de fond d'artichaut</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Filet de turbo sauvage cuit au four sauce au beurre blanc léger et aux truffes hachées</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Fricassé de langoustines accompagnée de champignons de saison</p>
      <p class="align-self-end">32€/18€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Raviolis et croustillants de langoustines et leur coulis</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Filet de bar sauvage cuit à la vapeur sauce au vin blanc et son embeurré de pommes de terre</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Tranché de bar sauvage mi-cuit mi-crut façon Japonaise</p>
      <p class="align-self-end">32€/18€</p>
    </div>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Viandes</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>Filet de canette de Challans rôti servi avec foie-gras chaud</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Carré d'agneau rôti au thym</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Pintade cuite au four accompagné d'un risotto à la truffes</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Ris de veau caramélisée la la sauce aux truffes</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Lamelles de boeuf aux deux poivrons façon soleil levant</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Joue de boeuf braisée avec carottes glacées</p>
      <p class="align-self-end">28€/16€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Entrecôte poêlée</p>
      <p class="align-self-end">26€</p>
    </div>
    <p style="font-size:10px; font-style: italic">viande de boeuf en provenancede l'UE
      uniquement(France/Italie/Allemagne/Irlande)</p>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">Desserts</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>Croustade de frangipanes (à commander en début de repas)</p>
      <p class="align-self-end">15€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Croustillants de marrons glacés</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Nougat glacé et son coulis de framboise</p>
      <p class="align-self-end">10€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Fondant au chocolat fait maison</p>
      <p class="align-self-end">13€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Dessert du jour</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Glaces et les sorbets</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>Le plateau de fromages</p>
      <p class="align-self-end">12€</p>
    </div>
  </div>

  <div>
    <p class="d-flex justify-content-center" style="font-size: 12px">Réglement par chèque, espèces et Carte VISA</p>
    <p class="d-flex justify-content-center" style="font-size: 12px">Prix net, service et TVA compris</p>
  </div>
</div>



<div *ngIf="japonaise">
  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">メニュー 30€</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <p>サーモンのカルパッチョ 生姜風味</p>
    <p class="align-self-center">又は</p>
    <p>カニのガレット　グレープフルーツのドレッシング</p>
    <p class="align-self-center">又は</p>
    <p>鴨砂肝のコンフィ　サラダ仕立て</p>
    <hr style="width:20%">
    <p>サーロインステーキ</p>
    <p class="align-self-center">又は</p>
    <p>牛ホホ肉の赤ワイン煮込み</p>
    <p class="align-self-center">又は</p>
    <p>本日の魚料理	</p>
  </div>


  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">メニュー 50€</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <p>本日のカルパッチョ</p>
    <hr style="width:20%">
    <p>手長海老のカリカリ焼き</p>
    <p>仔鴨のロースト　赤ワインソース</p>
    <hr style="width:20%">
    <p>デザート</p>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">エントリー</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>カニのガレット　グレープフルーツのドレッシング</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>サーモンのカルパッチョ 生姜風味</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>スズキの日本風カルパッチョ</p>
      <p class="align-self-end">17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>自家製フォアグラのテリーヌ</p>
      <p class="align-self-end">15€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>グリーンサラダ</p>
      <p class="align-self-end">10€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>フォアグラのソテー　コニャックソース</p>
      <p class="align-self-end">17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>鴨砂肝のコンフィ　サラダ仕立て</p>
      <p class="align-self-end">12€</p>
    </div>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">魚</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>平目のムニエル　アーティチョーク添え</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>平目のムニエル　アーティチョーク添え</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>手長海老のフリカッセ　季節のきのこ添え</p>
      <p class="align-self-end">32€/18€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>手長海老のフリカッセ　季節のきのこ添え</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>スズキの蒸し煮　じゃが芋添え</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>スズキの日本風</p>
      <p class="align-self-end">32€/18€</p>
    </div>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">お肉</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>仔鴨のロースト ポルトソース</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>仔羊のローストタイム風味</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>仔羊のローストタイム風味</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>仔羊のローストタイム風味</p>
      <p class="align-self-end">34€/19€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>薄切り牛肉の日本風ソテー</p>
      <p class="align-self-end">30€/17€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>牛ホホ肉の赤ワイン煮込み</p>
      <p class="align-self-end">28€/16€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>サーロインステーキ</p>
      <p class="align-self-end">26€</p>
    </div>
    <p style="font-size:10px; font-style: italic">色々な料理をお試しになりたい方々の為に半皿をご用意しました</p>
  </div>

  <div class="d-flex flex-column bloc">
    <h3 class="align-self-center" style="margin: 10px">デザート</h3>
    <hr style="width:20%;text-align:left;margin-left:0">
    <div class="d-flex flex-row justify-content-between">
      <p>アーモンドクリームのパイ包み焼き「食前にご注文下さい」</p>
      <p class="align-self-end">15€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>マロングラッセのカリカリ焼き</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>自家製ヌガーグラッセ</p>
      <p class="align-self-end">10€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>あたたかいチョコレートケーキ　バニラアイス添え</p>
      <p class="align-self-end">13€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>本日のデザート</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>アイスクリーム　シャーベット</p>
      <p class="align-self-end">12€</p>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p>チーズの盛り合わせ</p>
      <p class="align-self-end">12€</p>
    </div>
  </div>
</div>
